            ------
            MongoDB Asynchronous Java Driver - Download
            ------
            ------

Download

  The latest version of the driver is available via the following links.
  
  [Release Notes] {{{./release-notes/${projectVersion}_changes.html}${projectVersion} Changes}}

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/${projectArtifactId}/${projectVersion}/${projectArtifactId}-${projectVersion}.jar}${projectArtifactId}-${projectVersion}.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/${projectArtifactId}/${projectVersion}/${projectArtifactId}-${projectVersion}-javadoc.jar}${projectArtifactId}-${projectVersion}-javadoc.jar}} and {{{./apidocs/index.html}online}}.

Past Releases

* 1.2.1 - April 7, 2013

  [Release Notes] {{{./release-notes/1.2.1_changes.html}1.2.1 Changes}}

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.2.1/mongodb-async-driver-1.2.1.jar}mongodb-async-driver-1.2.1.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.2.1/mongodb-async-driver-1.2.1-javadoc.jar}mongodb-async-driver-1.2.1-javadoc.jar}} and {{{http://www.allanbank.com/mongodb-async-driver/apidocs-1.2.1/index.html}online}}.

* 1.2.0 - March 21, 2013

  [Release Notes] {{{./release-notes/1.2.0_changes.html}1.2.0 Changes}}

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.2.0/mongodb-async-driver-1.2.0.jar}mongodb-async-driver-1.2.0.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.2.0/mongodb-async-driver-1.2.0-javadoc.jar}mongodb-async-driver-1.2.0-javadoc.jar}} and {{{http://www.allanbank.com/mongodb-async-driver/apidocs-1.2.0/index.html}online}}.

* 1.1.0 - January 3, 2013

  [Release Notes] {{{./release-notes/1.1.0_changes.html}1.1.0 Changes}}

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.1.0/mongodb-async-driver-1.1.0.jar}mongodb-async-driver-1.1.0.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.1.0/mongodb-async-driver-1.1.0-javadoc.jar}mongodb-async-driver-1.1.0-javadoc.jar}} and {{{http://www.allanbank.com/mongodb-async-driver/apidocs-1.1.0/index.html}online}}.

* 1.0.2 - November 5, 2012

  [Release Notes] {{{./release-notes/1.0.2_changes.html}1.0.2 Changes}}

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.0.2/mongodb-async-driver-1.0.2.jar}mongodb-async-driver-1.0.2.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.0.2/mongodb-async-driver-1.0.2-javadoc.jar}mongodb-async-driver-1.0.2-javadoc.jar}} and {{{http://www.allanbank.com/mongodb-async-driver/apidocs-1.0.2/index.html}online}}.

* 1.0.1 - October 5, 2012

  [Release Notes] {{{./release-notes/1.0.1_changes.html}1.0.1 Changes}}

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.0.1/mongodb-async-driver-1.0.1.jar}mongodb-async-driver-1.0.1.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.0.1/mongodb-async-driver-1.0.1-javadoc.jar}mongodb-async-driver-1.0.1-javadoc.jar}}

* 1.0.0 - September 21, 2012

  [Release Notes] {{{./release-notes/1.0.0_changes.html}1.0.0 Changes}}

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.0.0/mongodb-async-driver-1.0.0.jar}mongodb-async-driver-1.0.0.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/1.0.0/mongodb-async-driver-1.0.0-javadoc.jar}mongodb-async-driver-1.0.0-javadoc.jar}}

* 0.9.9 - August 31, 2012

  [Jar] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/0.9.9/mongodb-async-driver-0.9.9.jar}mongodb-async-driver-0.9.9.jar}}
  
  [JavaDoc] {{{http://www.allanbank.com/repo/com/allanbank/mongodb-async-driver/0.9.9/mongodb-async-driver-0.9.9-javadoc.jar}mongodb-async-driver-0.9.9-javadoc.jar}}

