            ------
            MongoDB Asynchronous Java Driver: Maven
            ------
            ------
            2013-04-15

Maven

  To automate the download of the driver's jar from your Maven project you need to add the 
driver as a dependency. In addition you will need to specify the URL for the Allanbank repository.

* POM Coordinates 

  The current driver's pom coordinates are:

+-----------------+
<dependency>
	<groupId>com.allanbank</groupId>
	<artifactId>${projectArtifactId}</artifactId>
	<version>${projectVersion}</version>
</dependency>
+-----------------+

* Repository URL

  There are two methods for referencing the repository's URL.  The first updates the project's POM.  
The second assumes your team is using a private Nexus repository.

** POM Repositories
 
  To add the driver's repository to your POM simply add the following in the 
\<repositories /\> section. 

+-----------------+
<repository>
	<releases>
		<enabled>true</enabled>
		<updatePolicy>always</updatePolicy>
		<checksumPolicy>warn</checksumPolicy>
	</releases>
	<id>allanbank</id>
	<name>Allanbank Releases</name>
	<url>http://www.allanbank.com/repo/</url>
	<layout>default</layout>
</repository>
+-----------------+

  This method is ideal for stand lone projects or those that can not assume
availability of a centralized repository.
  
** Nexus Proxy 

  Teams using a private Nexus instances may also add the <<<http://www.allanbank.com/repo/>>> 
URL as a proxy repository. Users should ensure that downloading of remote indexes is enabled.

  Please note that the server hosting the repository is not a Nexus instance and also does not
support directory listings.  The above methods have been tested and will successfully resolve the
artifacts from the repository.